<section>
  <div class="container">
    <h1 class="title">Registration</h1>
  </div>
</section>

<section class="registration">
  <div class="container">
    <mat-stepper #stepper>

      <mat-step [stepControl]="verificationForm" label="Get verification code">
        <form class="form form-verification" [formGroup]="verificationForm" (ngSubmit)="onVerificationFormSubmit()">
          <div class="form-group">
            <mat-form-field class="method" appearance="standard">
              <mat-label>Method</mat-label>
              <mat-select formControlName="authType">
                <mat-option *ngFor="let item of authTypes" value="{{ item }}">{{ item }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="target" appearance="standard">
              <mat-label>Email / Phone</mat-label>
              <input matInput placeholder="Email / Phone" formControlName="target">
            </mat-form-field>
          </div>
          <div class="form-actions">
            <button mat-raised-button color="primary" type="submit" [disabled]="!verificationForm.valid">Get verification
              code
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="codeForm" label="Verify">
        <form class="form form-code" [formGroup]="codeForm" (ngSubmit)="onCodeFormSubmit()">
          <div class="form-group">
            <mat-form-field class="target" appearance="standard">
              <input matInput placeholder="Code" formControlName="code">
            </mat-form-field>
          </div>
          <div class="form-actions">
            <button mat-raised-button color="primary" type="submit" [disabled]="!codeForm.valid || !isVerificationFormSubmitted">Verify</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="registrationForm" label="Registration">
        <form class="form form-registration" [formGroup]="registrationForm" (ngSubmit)="onRegistrationFormSubmit()">
          <div class="form-group">
            <mat-form-field appearance="standard">
              <mat-label>Password</mat-label>
              <input matInput type="password" placeholder="Password" formControlName="password">
            </mat-form-field>
          </div>
          <div class="form-actions">
            <button mat-raised-button color="primary" type="submit" [disabled]="!registrationForm.valid || !isVerificationFormSubmitted || !isCodeFormSubmitted">Register</button>
          </div>
        </form>
      </mat-step>

    </mat-stepper>

    <div class="actions">
      <button mat-raised-button color="warn" (click)="onResetClick()">RESET</button>
    </div>

  </div>
</section>
