<section>
  <div class="container">
    <h1 class="title">{{ 'registration.pageTitle' | translate | uppercase }}</h1>
  </div>
</section>

<section class="registration">
  <div class="container">
    <mat-stepper #stepper>

      <mat-step [stepControl]="verificationForm" label="{{ 'registration.verificationForm.formTitle' | translate | capitalize }}">
        <form class="form form-verification" [formGroup]="verificationForm" (ngSubmit)="onVerificationFormSubmit()">
          <div class="form-group">
            <mat-form-field class="method" appearance="standard">
              <mat-label>{{ 'registration.verificationForm.authType.label' | translate | capitalize }}</mat-label>
              <mat-select formControlName="authType">
                <mat-option *ngFor="let item of authTypes" value="{{ item }}">{{ item }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="target" appearance="standard">
              <mat-label>{{ 'registration.verificationForm.target.label' | translate | capitalize }}</mat-label>
              <input matInput placeholder="{{ 'registration.verificationForm.target.label' | translate | capitalize }}" formControlName="target">
              <mat-error *ngIf="formControlError(verificationForm, 'target')">
                <span *ngIf="verificationForm.controls.target.errors?.required; else second">{{ 'common.formError.required' | translate }}</span>
                <ng-template #second>
                  <span *ngIf="verificationForm.controls.target.errors?.email; else third">{{ 'common.formError.email' | translate }}</span>
                </ng-template>
                <ng-template #third>
                  <span *ngIf="verificationForm.controls.target.errors?.phoneRegex">{{ 'common.formError.phoneRegex' | translate }}</span>
                </ng-template>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-actions">
            <button mat-raised-button color="primary" type="submit" [disabled]="!verificationForm.valid || isVerificationFormSubmitted">{{ 'registration.verificationForm.submitBtn' | translate | capitalize }}</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="codeForm" label="{{ 'registration.codeForm.formTitle' | translate | capitalize }}">
        <form class="form form-code" [formGroup]="codeForm" (ngSubmit)="onCodeFormSubmit()">
          <div class="form-group">
            <mat-form-field class="code" appearance="standard">
              <input matInput placeholder="{{ 'registration.codeForm.code.label' | translate }}" formControlName="code">
              <mat-error *ngIf="formControlError(codeForm, 'code')">
                <span *ngIf="codeForm.controls.code.errors?.required; else second">{{ 'common.formError.required' | translate }}</span>
                <ng-template #second>
                  <span *ngIf="codeForm.controls.code.errors?.codeRegex || codeForm.controls.code.errors?.maxlength || codeForm.controls.code.errors?.minLength">{{ 'common.formError.codeRegex' | translate }}</span>
                </ng-template>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-actions">
            <button mat-raised-button color="primary" type="submit" [disabled]="!codeForm.valid || !isVerificationFormSubmitted || isCodeFormSubmitted">{{ 'registration.codeForm.submitBtn' | translate | capitalize }}</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="registrationForm" label="{{ 'registration.registrationForm.formTitle' | translate | capitalize }}">
        <form class="form form-registration" [formGroup]="registrationForm" (ngSubmit)="onRegistrationFormSubmit()">
          <div class="form-group">
            <mat-form-field class="password" appearance="standard">
              <mat-label>{{ 'registration.registrationForm.password.label' | translate }}</mat-label>
              <input matInput type="password" placeholder="{{ 'registration.registrationForm.password.label' | translate }}" formControlName="password">
            </mat-form-field>
          </div>
          <div class="form-actions">
            <button mat-raised-button color="primary" type="submit" [disabled]="!registrationForm.valid || !isVerificationFormSubmitted || !isCodeFormSubmitted">{{ 'registration.registrationForm.submitBtn' | translate | capitalize }}</button>
          </div>
        </form>
      </mat-step>

    </mat-stepper>

    <div class="actions">
      <button mat-raised-button color="warn" (click)="onResetClick()">RESET</button>
    </div>

  </div>
</section>
