.form {
  .form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.form-verification {
  .method {
    width: 30%;
  }

  .target {
    width: 60%;
  }
}

.form-code {
  .code {
    width: 50%;
  }
}

.form-registration {
  .password {
    width: 50%;
  }
}

.actions {
  text-align: center;
}
