@import '~@angular/material/theming';
@import 'variables';

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

.container {
  max-width: $container-max-width;
  margin: auto;
  padding: 0 $gutter;
}

.form {
  max-width: 600px;
  margin: auto;
}

.page-title {
  h1 {
    text-align: center;
  }
}

.w-100 {
  width: 100%;
}

.mat-stepper-horizontal[hide-header] {
  .mat-horizontal-stepper-header {
    display: none;
  }
}
